{% extends 'base.html' %}

{% block title %}
Profit and Loss Dashboard | Online Retail POS
{% endblock %}

{% block nav-item %}
<div class="mb-0 font-weight-bold  h5 text-gray-500 text-uppercase p-3"> Profit and Loss Dashboard </div>
{% endblock %}

{% block content %}
<div class="row col-lg-12">
    <div class="col-lg-5" style="width:100%;">
        <div class="card border-left-warning shadow-sm mb-3">
            <div class="card-header">
                <div class="text-md font-weight-bold text-warning text-uppercase mb-1"> Profit/Loss Summary </div>
            </div>
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-md font-weight-bold text-gray-800">Today's Profit/Loss</div>
                        <div class="h4 font-weight-bold text-gray-800">
                            <i class="fa fa-{{request.session.currency}}"></i>{{ profit_today|floatformat:2 }}
                        </div>
                    </div>
                    <div class="col mr-2">
                        <div class="text-md font-weight-bold text-gray-800">Last 30 Days Profit/Loss</div>
                        <div class="h4 font-weight-bold text-gray-800">
                            <i class="fa fa-{{request.session.currency}}"></i>{{ profit_last_30_days|floatformat:2 }}
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <div class="font-weight-bold h5">Total Profit/Loss: <i class="fa fa-{{request.session.currency}}"></i>{{ profit_or_loss|floatformat:2 }}</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Profit/Loss Graph -->
    <div class="col-lg-7">
        <div class="card shadow">
            <div class="card-header">
                <div class="font-weight-bold text-warning h5 text-center"> Profit/Loss Chart </div>
            </div>
            <div class="card-body">
                {{ profit_loss_graph |safe }}
            </div>
        </div>
    </div>
</div>
<hr>
{% endblock %}
