{% extends 'base.html' %}
{% load mathfilters %}

{% block title %}
Register | Online Retail POS
{% endblock %}

{% block nav-item %}
<div class="mb-0 font-weight-bold  h5 text-gray-500 text-uppercase p-3 "> Register </div>
{% endblock %}

{% block content %}
<style>
       .customer_results {
        margin-top: 10px;
        position: absolute;
        background-color: white;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 10;
    }

    /* Custom breakpoints for responsive width */
    @media screen and (max-width: 1000px) {
        .customer_results {
            width: 30%;
        }
    }

    @media screen and (max-width: 700px) {
        .customer_results {
            width: 50%;
        }
    }

    @media screen and (max-width: 500px) {
        .customer_results {
            width: 100%;
        }
    }
</style>
<div style="width: 90%; font-size: 13px;" >
    <input type="hidden" name="customer_id" id="customer_id" value="{{ request.session.customer_id }}">
    <input type="hidden" name="customer_email" id="customer_email" value="{{ request.session.customer_id }}">
    <input type="hidden" name="customer_address" id="customer_address" value="{{ request.session.customer_id }}">
    <input type="number" name="customer_number" id="customer_number" placeholder="Customer Contact" value="{{ request.session.customer_number }}" required>
    <input type="text" name="customer_name" id="customer_name" placeholder="Customer Name" value="{{ request.session.customer_name }}">
    <a class="nav-link collapsed" onclick="getCustomers()" style="display: inline-flex; align-items: center;">
        <i class="fas fa-fw fa-search"></i>
    </a>
    <!-- <a class="nav-link collapsed" onclick="EditCustomerForm()" style="display: inline-flex; align-items: center;">
        <i class="fas fa-fw fa-edit"></i>
    </a> -->
    <div id="customer-results" class="customer_results w-25 position-absolute"></div>
</div>
<hr>
<div class="row" style="width: 100%;padding-right: 0px;">
    <div class="col-lg-6">
        <div class="row mb-0" style="padding-bottom:5px;">
            <!-- Input fields to add product -->
            <form class="form col-lg-6" action="{{ request.get_full_path }}" method = "POST" style="width:100%;padding-bottom: 10px;padding:10px;padding-top: 15px;" onsubmit="handleSubmitForm(event)">
                {% csrf_token %}
                
                <div class="row" style="width:100%;justify-content: center;">
                    {% for field in form %}
                    <ul style="padding-left:25px;width:300px;"><strong style="color:black;width:100%;padding-right: 15px;padding-left: 10px;">{{ field.label }} :</strong> {{ field }}</ul>
                    {% endfor %}
                </div>
                <input class="btn btn-primary"  style="width:100%;margin-top: 10px;" id="submit-barcode" type="submit" value="Submit">
            </form>

            <!-- Transaction Info / Billing Info -->
            <div class="col-lg-6 card border-left-success shadow-sm h-100 py-2" style="width:100%;margin-top:10px;margin-bottom: 10px;">
                <div class="card-header py-2">
                    <h6 class="mb-0 font-weight-bold text-uppercase text-success ">Transaction Info</h6>
                </div>
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                                <strong>Sub Total : </strong>{{ total|sub:tax_total|floatformat:2 }}
                            </div>
                            <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                                <strong>Tax Total : </strong>{{ tax_total|floatformat:2 }}</div>
                            <div class="text-xl font-weight-bold text-success text-uppercase mb-1">
                                <strong>Total : </strong></div>
                            <div class="h3 mb-0 font-weight-bold text-gray-800" style="text-align:right;" >{{ total|floatformat:2 }}</div>
                        </div>
                        <!-- <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-3x text-gray-300"></i>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

        <!-- Cart / list of products  -->
        <div class="row mb-2" id="cart_display"  style="padding-top: 10px; padding-bottom: 0px;">
            {% if no_product %}
            <div class="loginPopup" id='popup'>
                <div class="formPopup" id="popupForm" style="display:block">
                    <div class="formContainer">
                        <div class="h3 mb-5 text-gray-800"> Product Not Found, Please add Product in Inventory </div>
                        <button type="button" class="btn btn-danger btn-lg btn-block" onclick="closeForm()">Close</button>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="card shadow-sm" style="width:100%;height:465px;">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Transaction Details</h6>
                </div>
                <div class="card-body" style="overflow: auto ;padding:0">
                    <table class="table" style="text-align:right;">
                        <tr>
                            <th style="font-family: bold;color:rgba(0, 0, 0, 0.623)" >Barcode/Product Name</th>
                            <!-- <th style="font-family: bold;color:rgba(0, 0, 0, 0.623)">Name</th> -->
                            <th style="font-family: bold;color:rgba(0, 0, 0, 0.623)">Qty</th>
                            <th style="font-family: bold;color:rgba(0, 0, 0, 0.623)">Price</th>
                            <th style="font-family: bold;color:rgba(0, 0, 0, 0.623)">L-Total<br>Tax</th>
                            <th style="font-family: bold;color:rgba(0, 0, 0, 0.623)">L-Total<br>Deposit</th>
                            <th style="font-family: bold;color:rgba(0, 0, 0, 0.623)">Line<br>Total</th>
                        </tr>
                        {% for key, value in cart.items %}
                        <tr>
                            <th style="text-align:left">{{key}} <br> {{value.name}}</th>
                            <!-- <td>{{value.name}}</td> -->
                            <td>{{value.quantity}}</td>
                            <td>{{value.price}}</td>
                            <td>{{value.tax_value}}</td>
                            <td>{{value.deposit_value}}</td>
                            <td>{{value.line_total}}</td>
                        </tr>
                        {% endfor %}
                    </table> 
                </div>
            </div>
        </div>
    </div>
    <!-- Transaction Buttons  -->
    <div class="col-lg-6" >
        <!-- Transaction action buttons -->
        <div class="btn-block" style="padding-top: 10px;text-align:center">
            <button id="disable_1" onclick="return window.open('/register/returns_transaction/',target='_self')" class="btn btn-warning" style="width:23%;margin:2px;height:60px;margin-bottom:5px" > (-)<br>Returns </button>
            <button id="disable_2" onclick="return window.open('/register/suspend_transaction/',target='_self')" class="btn btn-info" style="width:23%;margin:2px;height:60px;margin-bottom:5px"> Suspend<br>Transaction </button>
            <button onclick="return window.open('/register/recall_transaction/',target='_self')" class="btn btn-info" style="width:23%;margin:2px;height:60px;margin-bottom:5px"> Recall<br>Transaction </button>
            <button id="disable_4" onclick="return window.open('/register/cart_clear/',target='_self')" class="btn btn-danger" style="width:23%;margin:2px;height:60px;margin-bottom:5px"> Clear<br>Transaction </button>
        </div>
        <hr >
        <!-- Transaction Checkout buttons -->
        <div class="btn-block" style="padding-top: 10px;text-align:center" >
            <button id="disable_P_1" onclick="if (validateCustomerNumber()) { return window.open('/endTransaction/card/DEBIT_CREDIT/',target='_self'); }" class="btn btn-success" style="width:23%;height:60px; margin:2px;margin-bottom:5px;background-color:darkgreen" > Debit/<br>Credit </button>            
            <button id="disable_P_2" onclick="if (validateCustomerNumber()) { endTransactionCash(5,'{{ total }}'); }" class="btn btn-success" style="width:23%;margin:2px;height:60px;margin-bottom:5px"> $5 </button>
            <button id="disable_P_3" onclick="if (validateCustomerNumber()) { endTransactionCash(10,'{{ total }}'); }" class="btn btn-success" style="width:23%;margin:2px;height:60px;margin-bottom:5px"> $10 </button>
            <button id="disable_P_4" onclick="if (validateCustomerNumber()) { endTransactionCash('Next','{{ total }}'); }" class="btn btn-success" style="width:23%;margin:2px;height:60px;margin-bottom:5px;background-color:rgb(27, 66, 27)"> Next<br>Dollar </button>
            <button id="disable_P_5" onclick="if (validateCustomerNumber()) { return window.open('/endTransaction/card/EBT/',target='_self'); }" class="btn btn-success" style="width:23%;margin: 2px;height:60px;margin-bottom:5px;background-color:darkgreen"> UPI </button>
            <button id="disable_P_6" onclick="if (validateCustomerNumber()) { endTransactionCash(20,'{{ total }}'); }" class="btn btn-success" style="width:23%;margin:2px;height:60px;margin-bottom:5px" > $20 </button>
            <button id="disable_P_7" onclick="if (validateCustomerNumber()) { endTransactionCash(50,'{{ total }}'); }" class="btn btn-success" style="width:23%;margin: 2px;height:60px;margin-bottom:5px"> $50 </button>
            <button id="disable_P_8" onclick="if (validateCustomerNumber()) { endTransactionCash('CASH','{{ total }}'); }" class="btn btn-success" style="width:23%;margin:2px;height:60px;margin-bottom:5px;background-color:rgb(27, 66, 27)"> CASH </button>
        </div>
        <div class="loginPopup" id='cash_popup'> </div>
        <hr >
        <!-- Quick add items buttonss -->
        <div class="btn-block"  style="height: 353px;overflow:scroll;text-align:center;padding-top: 7px;">
            {% for i in displayed_items %}
             <!-- only 24 buttons to be added per section  -->
            {% if i.variable_price %}
            <button onclick="variableAmount('{{i.barcode}}','{{ i.display_name }}','{{ i.display_info }}')" class="btn btn-primary" style="width:23%;margin:2px;height:60px;margin-bottom:5px;margin-top:5px;background-color:'{{ i.display_color }}'"> {{ i.display_name }} </a>
            {% else %}
            <button onclick="return window.open('/cart/add/{{i.barcode}}/1/',target='_self')" class="btn btn-dark" style="width:23%;margin:2px;height:60px;margin-bottom:5px;background-color:'{{ i.display_color }}'" >  {{ i.display_name }} </button>
            {% endif %}
            {% endfor %}
        </div>
        <hr style="margin-right: 4%;">
    </div>
</div>
<div class="row" id="customerform" style="width: 100%; padding-right: 0px; display: none; position: absolute; top: 16%; left: 7.5%; z-index: 9999;">
   
    <!-- Single Card that holds both columns -->
    <div class="col-lg-6 mb-2">
       
        <div class="card border-left-success shadow-sm h-100 py-2" style="width: 100%; padding: 15px;">
            <div style="position: relative; top: 5px; right: -95%; font-size: 16px; color: #dc3545; cursor: pointer; z-index: 10000;" onclick="cancelForm()">
                <!-- <i class="fas fa-times"></i> -->
                <i class="fas fa-fw fa-times"></i>
            </div>
            <div class="row">
                <!-- First Column with Customer Name and Customer Number -->
                <input type="hidden" name="customerId" id="customerId" value="{{ request.session.customer_id }}"> <br><br>
                <div class="col-lg-6 mb-3">
                    <label for="customerName" class="form-label"><strong class="text-dark">Customer Name:</strong></label>
                    <input type="text" name="customerName" id="customerName" class="form-control" placeholder="Customer Name" value="{{ request.session.customer_name }}"> <br><br>

                    <label for="customerNumber" class="form-label"><strong class="text-dark">Customer Number:</strong></label>
                    <input type="number" name="customerNumber" id="customerNumber" class="form-control" placeholder="Customer Number" value="{{ request.session.customer_number }}" required>
                </div>

                <!-- Second Column with Customer Email and Customer Address -->
                <div class="col-lg-6 mb-3">
                    <label for="customerEmail" class="form-label"><strong class="text-dark">Customer Email:</strong></label>
                    <input type="email" name="customerEmail" id="customerEmail" class="form-control" placeholder="Customer Email"> <br><br>

                    <label for="customerAddress" class="form-label"><strong class="text-dark">Customer Address:</strong></label>
                    <input type="text" name="customerAddress" id="customerAddress" class="form-control" placeholder="Customer Address">
                </div>

                <!-- Centered Save Button -->
                <div class="col-12 d-flex justify-content-center mt-3">
                    <button type="button" class="btn btn-success" onclick="saveCustomer()">Save</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Cancel Icon at top-right, shifted slightly lower and to the left -->
    
</div>

    {% if total == 0.0 %}
    <script>
        var elements = document.querySelectorAll('[id^="disable_"]');
        for (var i = 0; i < elements.length; i++){ elements[i].disabled = true; }
    </script>
    {% endif %}
<script>
    // This function will trigger when the form is submitted
    function handleSubmitForm(event) {
        // Prevent the default form submission
        event.preventDefault();

        // Get the customer data from the input fields
        var customer_id = document.getElementById('customer_id').value;
        var customer_number = document.getElementById('customer_number').value;
        var customer_name = document.getElementById('customer_name').value;

        // Get the form element
        var form = event.target;

        // Create hidden input elements to hold the customer data
        var customer_id_input = document.createElement('input');
        customer_id_input.type = 'hidden';
        customer_id_input.name = 'customer_id';
        customer_id_input.value = customer_id;

        var customer_number_input = document.createElement('input');
        customer_number_input.type = 'hidden';
        customer_number_input.name = 'customer_number';
        customer_number_input.value = customer_number;

        var customer_name_input = document.createElement('input');
        customer_name_input.type = 'hidden';
        customer_name_input.name = 'customer_name';
        customer_name_input.value = customer_name;

        // Append these hidden inputs to the form
        form.appendChild(customer_id_input);
        form.appendChild(customer_number_input);
        form.appendChild(customer_name_input);

        // Now submit the form
        form.submit();
    }

    function getCustomers() {
        // Get the customer number and name from the input fields
        var customerNumber = document.getElementById("customer_number").value;
        var customerName = document.getElementById("customer_name").value;
        if (customerNumber != '' || customerName != ''){
            // Send AJAX request to the server to search for customers
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/search_customer/?customer_number=" + customerNumber + "&customer_name=" + customerName, true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var data = JSON.parse(xhr.responseText);
                    var resultsDiv = document.getElementById("customer-results");
                    
                    // Clear previous results
                    resultsDiv.innerHTML = '';

                    // Display new search results
                    if (data.customers.length > 0) {
                        data.customers.forEach(function(customer) {
                            var resultItem = document.createElement("div");
                            resultItem.className = "result-item";
                            resultItem.innerHTML = customer.customer_name + " (" + customer.customer_contact + ")";
                            resultItem.onclick = function() {
                                populateCustomerData(customer);
                            };
                            resultsDiv.appendChild(resultItem);
                        });
                    } else {
                        resultsDiv.innerHTML = "<p>No customers found.</p>";
                    }
                }
            };
            xhr.send();
        } 
    }

    // Function to populate fields when a customer is selected from the list
    function populateCustomerData(customer) {
        document.getElementById("customer_number").value = customer.customer_contact;
        document.getElementById("customer_name").value = customer.customer_name;
        document.getElementById("customer_id").value = customer.customer_id;
        document.getElementById("customer_email").value = customer.customer_email;
        document.getElementById("customer_address").value = customer.customer_address;
        document.getElementById("customer-results").innerHTML = ''; // Clear results
    }

    function validateCustomerNumber() {
        var customerNumber = document.getElementById('customer_number').value;
        if (customerNumber === "") {
            alert("Customer Number is required before proceeding.");
            return false;
        }
        return true;
    }

    function EditCustomerForm(){
        const custform = document.getElementById('customerform')

        document.getElementById('customerId').value  = document.getElementById('customer_id').value ;
        document.getElementById('customerName').value  = document.getElementById('customer_name').value ; 
        document.getElementById('customerNumber').value  = document.getElementById('customer_number').value ;
        document.getElementById('customerEmail').value  = document.getElementById('customer_email').value ;
        document.getElementById('customerAddress').value  = document.getElementById('customer_address').value ;

        if (custform.style.display == 'none'){
            custform.style.display = 'block';
        } else {
            custform.style.display = 'none';
        }
    }

    function cancelForm() {
        document.getElementById('customerform').style.display = 'none';
    }

    function saveCustomer() {
        const CUST_ID = document.getElementById('customerId').value;
        const CUST_NAME = document.getElementById('customerName').value;
        const CUST_NUMBER = document.getElementById('customerNumber').value;
        const CUST_EMAIL = document.getElementById('customerEmail').value;
        const CUST_ADDRESS = document.getElementById('customerAddress').value;

        const data = {
            customer_id: CUST_ID,
            customer_name: CUST_NAME,
            customer_number: CUST_NUMBER,
            customer_email: CUST_EMAIL,
            customer_address: CUST_ADDRESS
        };

        const csrfToken = document.cookie.match(/csrftoken=([\w-]+)/)[1];  // Get CSRF token

        $.ajax({
            url: '/save_customer/',  
            type: 'POST',  
            data: JSON.stringify(data),  
            contentType: 'application/json',  
            headers: {
                'X-CSRFToken': csrfToken  // Use the CSRF token directly
            },
            success: function(response) {
                if (response.success) {
                    alert('Customer saved or updated successfully!');

                    // Clear the input fields after successful save
                    document.getElementById('customerName').value = '';
                    document.getElementById('customerNumber').value = '';
                    document.getElementById('customerEmail').value = '';
                    document.getElementById('customerAddress').value = '';
                } else {
                    alert('An error occurred while saving the customer: ' + response.error);
                }
            },
            error: function(xhr, status, error) {
                console.error('Error:', error);
                alert('An error occurred while saving the customer.');
            }
        });
    }


    function endTransactionCash(value,total){
        var total = Number(total)
        if (value=="Next"){
            value = Math.ceil(total) }
        var value = Number(value)
        if (total<=value){
            window.open("/endTransaction/cash/"+value+"/", target="_self")
        }else{
            // var cash = Number(prompt("Enter Cash Amount...\n\n"))
            document.getElementById("cash_popup").innerHTML = '<div class="formPopup" id="popupForm" style="display:block"><form action="#" onsubmit="return endForm(this,'+total+')" class="formContainer"> <div class="h3 mb-4 text-gray-800">Please Enter <br>Cash Amount....</div><input class="mb-3" type="text" id="cashAmount" placeholder="Cash Amount..." autocomplete="off" required /><button type="submit" class="btn btn-success btn-lg btn-block">Enter</button><button type="button" class="btn btn-danger btn-lg btn-block" onclick="closeForm()">Close</button></form></div>'
            $( "#cashAmount" ).focus();
        }
    }
    function endForm(form,total){
        closeForm()
        endTransactionCash(form.cashAmount.value,total)
        return false;
    }
    function closeForm(){
        document.getElementById("popupForm").style.display = "none";
    }
    
    function variableAmount(barcode,name,info){
        document.getElementById("cash_popup").innerHTML = '<div class="formPopup" id="popupForm" style="display:block"><form action="#" onsubmit="return amountProductFunc(this);" class="formContainer"><label id="department_value" class="h5 text-primary">'+barcode+'</label><hr><div class="h5 text-success mb-3">'+name+'</div><div class="h6 mb-1 text-gray-800" style="text-align:left">Please Enter Amount...</div><input class="mb-3" type="text" id="cashAmount" placeholder="Variable Amount..." autocomplete="off" required /><button type="submit" class="btn btn-success btn-lg btn-block">Enter</button><button type="button" class="btn btn-danger btn-lg btn-block" onclick="closeForm()">Close</button><div style="text-align:left"><br>'+info+'</div></form></div>'
        $( "#cashAmount" ).focus();
    }
    function amountProductFunc(form){
        closeForm()
        department = form.firstElementChild.innerHTML
        amount = Number(form.cashAmount.value)
        if (amount){
            window.open("/register/"+department+"/"+amount+"/",target="_self")
        }
        return false
    }
</script>
{% endblock %}